/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #141414;
  color: #fff;
}

header {
  background-color: #000;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  max-width: 150px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 40px;
}

/* Estilos de los detalles de la película */
#movie-details {
  display: flex;
  justify-content: space-between;
}

.movie-info {
  flex: 1;
}

.movie-info h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.movie-info p {
  font-size: 18px;
  line-height: 1.5;
}

.movie-player {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  overflow: hidden;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
  /* Modifica los estilos para pantallas de hasta 768px de ancho */
  header {
    padding: 10px;
  }

  nav img {
    max-width: 100px;
  }

  nav ul li {
    margin-left: 10px;
  }

  section {
    padding: 20px;
  }

  #movie-details {
    flex-direction: column;
  }

  .movie-info {
    margin-bottom: 20px;
  }
}
